/*

!/src/
!/etc/

!/.editorconfig
!/.prettierignore
!/cspell.config.*
!/dictionary.txt
!/eslint.config.*
!/prettier.config.*

!/api-extractor.json
!/tsconfig*.json
!/vite.config.*

!/.npmignore
!/.node-version
!/package.json
!/package-lock.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml

!/LICENSE
!/README.md

!/.gitatributes
!/.gitignore
